/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f1cdb3;
}

/* Main Styling */
html,
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.7;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.swiper {
  width: 1070px;
}

#navbar {
  color: #ffffff;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar h1 {
  font-family: 'Georgia' sans-serif;
  font-style: normal;
  color: #545454;
  font-size: 32px;
  font-weight: 400;
  line-height: 110%;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
}

#navbar p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #545454;
}

#navbar ul {
  list-style: none;
  display: flex;
  color: #545454;
}

#navbar ul li {
  margin: 0 8px;
}

#navbar ul li a {
  display: block;
  text-align: center;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  text-decoration: none;
}

#navbar ul li a.current {
  border-bottom: #fddcc4 3px solid;
}

.section-header {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.section-header h3 {
  width: 400px;
  margin: 0 auto;
  font-family: 'Georgia' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.wrapper-friends {
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
}

.wrapper-friends p {
  font-family: 'Georgia' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  padding-top: 30px;
}

.friends-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: var(--primary-color);
  padding: 15px 45px;
  margin-top: 30px;
  margin-left: 20%;
  border-radius: 100px;
}

.end-button {
  margin-top: 90px;
  margin-left: 41.5%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 15px 45px;
  background: #f1cdb3;
  border-radius: 100px;
}
